body {
    font-family: 'Duru Sans', sans-serif;
}
input[type="text"] {
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    clear:both;
    display:block;

    border: 2px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
}

.success {
    background-color: #57A957;
    color: white;
}

.notice {
    background-color: #1B7AE0;
    color: white;
}

#submitgifvid {
    font-size: 1.3em;   
}

.marginTop {
    margin-top:5px;   
}

.previewImage {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    clear:both;   
}

#youtube {
display: block;
height: 200px;
width: 200px;
position: absolute;
right: 0;
bottom: 0;
opacity: .7;
z-index: 999999;
}