body {
    margin:0px;
}
html{
    overflow: hidden;
}
#sharebar {
    position: absolute;
    width: 100%;
    height: 2.2em;
    background-color: #000;
    opacity: .5;
    padding-top: 5px;
    top: 0;
    font-size: 0.8em;
}

#sharebar a {
    color: #000;
    font-weight: bold;
}

#permaLinkText {
    color: #fff;
    margin-left: 3px;
    margin-right: 3px;
    border: 0px;
    background: transparent;
    width: 250px;
}
