<html>
<head>
    <title>gifsong</title>
    <!-- gifsong -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% block css_override_block %}{% endblock %}
    <!-- cdn -->
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.14.1/build/cssbutton/cssbutton.css">
    <!-- js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
   {% block override_block %}{% endblock %}
   {% include "includes/github.html" %} 
   {% block container %}{% endblock %}
</body>
</html>
