{% extends "base.html" %}

{% block css_override_block %}
    <script src="{{ STATIC_URL }}js/jquery.steps.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.steps.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/createsong.css">
{% endblock %}

{% block override_block %}
    <div id="sharebar">&nbsp;
        <a class="yui3-button fa fa-home"me  href="/"> GIFSong</a>
        <a class="yui3-button fa fa-random"  href="/show"> random</a>
    </div>
{% endblock %}

{% block container %}
<form action="/" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
<div id="wizard">
                <h2>GIF Url</h2>
                <section>
                    <div class="fieldWrapper">
                        {{ form.image_url.errors }}
                        {{ form.image_url }}
                    </div>
                </section>

                <h2>Song Url</h2>
                <section>
                    <div class="fieldWrapper">
                        {{ form.audio_url.errors }}
                        {{ form.audio_url }}
                    </div>
                    <p>
                        add songs with urls like www.youtube.com/embed/zpmKjJ4YU_c?autoplay=1
                    </p>
                </section>

                <h2>Create</h2>
                <section>
   <input id="submitgifvid" class="yui3-button success" type="submit" value="Create" />

                </section>
            </div>
</form>

    <script>
    $(function(){
        $("#id_image_url").attr("placeholder","http://i.imgur.com/WJBkMZ1.gif");

        $("#id_image_url").change(function(){
             alert('error');
            $("<img>", {
                    src: $("#id_image_url").val(),
                    error: function() { alert('error'); },
                    load: function() { },
            });
         });

        var imageError = false;

        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            height:"200",
            enableFinishButton: false,
            onStepChanging: function (event, currentIndex, newIndex) {
                if(currentIndex == 0){
                    $("<img>", {
                        src: $("#id_image_url").val(),
                        error: function() { $('li.first').addClass('error'); },
                        load: function() {
                                console.log('loafef');
                                $('li.first').removeClass('error');
                                $("html").css('background','url(' +$("#id_image_url").val() +') no-repeat center center fixed');
                                $("html").css('-webkit-background-size', 'cover');
                                $("html").css('-moz-background-size', 'cover');
                                $("html").css('-o-background-size', 'cover');
                                $("html").css('background-size:', 'cover');
                        },
                    });
                }

                if(currentIndex == 1){

                }


                return true;
            },
        });




        $("#id_audio_url").after(
            $("<div/>", {
                "id" : "checkSong",
                "src" : $("#id_image_url").val(),
                "class" : "yui3-button fa fa-volume-up notice marginTop",
                "text" : " preview"
            })
        );
        $("#checkSong").click(function(){
            $("#previewSong").remove();
            $("#id_audio_url").before(
                $("<iframe/>", {
                    "id" : "previewSong",
                    "class" : "previewImage",
                    "frameborder": "0",
                    "src" : "http://" + $("#id_audio_url").val()
                })
            );
        });


    });
    </script>
<style>
    body{
        margin:0;
    }
    #sharebar {
    position: relative;
    width: 100%;
    height: 2.5em;
    background-color: transparent;
    padding-top: 5px;
        text-align:left;
    font-size: 0.8em;
}

    html {
        background: url(http://i.imgur.com/WJBkMZ1.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

#sharebar a {
    color: #000;
    font-weight: bold;
}

.wizard > .content {
        background-color:transparent;
    }

    .wizard > .steps > ul > li, .wizard > .actions > ul > li {
float: left;
opacity: .7;
}
    #id_image_url::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
#id_image_url:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
#id_image_url::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
#id_image_url:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
</style>
<div class="footer">
    <div class="copyright">Brought to you by these Doges.</div>
    <div class="doges clearfix">
        <a class="circular derek"  href="https://github.com/toxigenicpoem" target="_blank"></a>
        <a class="circular derick"  href="https://github.com/ZephyrXero" target="_blank"></a>
        <a class="circular burns"  href="https://github.com/nthdegreeburns" target="_blank"></a>
        <a class="circular justin"  href="https://github.com/bigjust" target="_blank"></a>
        <a class="circular mannyu"  href="https://github.com/mannyblum" target="_blank"></a>
        <a class="circular matt" href="https://github.com/mlsimpson" target="_blank"></a>
        <a class="circular nolan" href="https://github.com/nrb" target="_blank"></a>
    </div>
    <div class="copyright">Copyright &copy; 2014 Nintendoges</div>
</div>
{% endblock %}
