{% extends "base.html" %}

{% block css_override_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/createsong.css">
{% endblock %}

{% block container %}
    <a href="/show">view random song</a>
    <h1>Gif Song</h1>
    <p>create a new gif song</p>
    <p>
        add songs with urls like www.youtube.com/embed/zpmKjJ4YU_c?autoplay=1
    </p>
    <p>
        add images with urls like i.imgur.com/SVwaAwZ.gif
    </p>
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>
        preview before creating
    </p>
    <input id="submitgifvid" class="yui3-button success" type="submit" value="Create" />
    </form>
<iframe id="youtube" style="display:none;" width="420" height="315" src="http://{{ song.audio_url }}" frameborder="0" allowfullscreen></iframe>

    <script>
    $(function(){
        $("#id_image_url").after(
            $("<div/>", {
                "id" : "checkImage",
                "src" : $("#id_image_url").val(),
                "class" : "yui3-button fa fa-eye notice marginTop",
                "text" : " preview"
            })
        );
        $("#checkImage").click(function(){
            $("#previewImage").remove();
            $("#id_image_url").before(
                
                $("<img/>", {
                    "id" : "previewImage",
                    "class" : "previewImage",
                    "src" : "http://" + $("#id_image_url").val()
                })
            );
        });
        
        $("#id_audio_url").after(
            $("<div/>", {
                "id" : "checkSong",
                "src" : $("#id_image_url").val(),
                "class" : "yui3-button fa fa-volume-up notice marginTop",
                "text" : " preview"
            })
        );
        $("#checkSong").click(function(){
            $("#previewSong").remove();
            $("#id_audio_url").before(
                $("<iframe/>", {
                    "id" : "previewSong",
                    "class" : "previewImage",
                    "frameborder": "0",
                    "src" : "http://" + $("#id_audio_url").val()
                })
            );
        });


    });
    </script>
{% endblock %}