{% extends "base.html" %}
{% block override_block %}
    {% include "includes/sharebar.html" %}
{% endblock %}
{% block css_override_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/showsong.css">
{% endblock %}
{% block container %}
<style>
    html { 
        background: url(http://{{ song.image_url }}) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<iframe id="youtube" src="http://{{ song.audio_url }}" frameborder="0" allowfullscreen></iframe>
{% endblock %}