{% extends "base.html" %}
{% block override_block %}
    {% include "includes/sharebar.html" %}
{% endblock %}
{% block css_override_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/showsong.css">

    <!-- open graph tags -->
    <meta property="og:image" content="http://{{ song.image_url }}"/>
    <meta property="og:title" content="An Animated Jam"/>
    <meta property="og:url" content="http://www.gifsong.me/show/?gvid={{song.id}}"/>
    <meta property="og:site_name" content="GifSong.ME"/>
    <meta property="og:type" content="website"/>

{% endblock %}
{% block container %}
<style>
    html {
        background: url(http://{{ song.image_url }}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .displayNone {
        display:none !important;
    }
</style>
<img id="rating" src="{{ STATIC_URL }}/img/rating_everyone.png"/>
<iframe id="youtube" class="displayNone" src="http://{{ song.audio_url }}" frameborder="0" allowfullscreen></iframe>
<script>
$(function(){
    var swfness = "{{ song.sfwness }}";
    if(swfness == "2") {
        $("#rating").attr('src',"{{ STATIC_URL }}/img/rating_mature.png");
    }
    if(swfness == "3") {
        $("#rating").attr('src',"{{ STATIC_URL }}/img/rating_pg.png");
    }

    var i = setTimeout('$("#sharebar").removeClass();$("#sharebar").addClass("animated fadeOutDown");$("#githubLink").removeClass();$("#githubLink").addClass("animated fadeOutUp");$("#rating").removeClass();$("#rating").addClass("animated fadeOutUp");', 2000);

    $("#permaLink").click(function(e) {
        var inout = "fade" + (($(this).attr("data-show").indexOf("Hide") > -1 ) ? "Out" : "In") + (($(this).text().indexOf("Hide") > -1 ) ? "Down" : "Up") ;
         $('#permaLinkText').removeClass();
         $("#permaLinkText").addClass('animated ' + inout);
         if(inout.indexOf("Out") > -1){
            $("#permaLinkText").addClass('displayNone');
         }
         $(this).attr("data-show", function(){
            return (($(this).attr("data-show").indexOf("Hide") > -1 ) ? "Show" : "Hide");
        })
        e.preventDefault();
    });
    $("#hideplayerButton").click(function(){
        var inout = "fade" + (($(this).text().indexOf("Hide") > -1 ) ? "Out" : "In") + (($(this).text().indexOf("Hide") > -1 ) ? "Down" : "Up") ;
        $('#youtube').removeClass();
        $('#youtube').addClass('animated ' + inout);
        $(this).text(function(){
            return (($(this).text().indexOf("Hide") > -1 ) ? " Show" : " Hide") + " Audio Player";
        });
    });

    $("html").mousemove(function(){
            clearTimeout(i);
           $("#sharebar").removeClass();
        $("#githubLink").removeClass();
         $("#rating").removeClass();

             var inout = "fade" + (($(this).text().indexOf("Hide") > -1 ) ? "Out" : "In") + (($(this).text().indexOf("Hide") > -1 ) ? "Down" : "Up") ;
        var inoutOther = "fade" + (($(this).text().indexOf("Hide") > -1 ) ? "Out" : "In") + (($(this).text().indexOf("Hide") > -1 ) ? "Up" : "Down") ;
            i = setTimeout('$("#sharebar").removeClass();$("#sharebar").addClass("animated '+ inout +'");$("#githubLink").removeClass();$("#githubLink").addClass("animated '+ inoutOther +'");$("#rating").removeClass();$("#rating").addClass("animated '+ inoutOther +'");', 2000);
    });
});
</script>
{% endblock %}
